

/* footer */


footer h2 {
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px #cc2059
}


.fm__footer__container {
    padding: 25px;
    width: 100%;
    border-top: 5px solid #cc2059;
    background-color: #3d3c3cde;
    font-family: audiowide;
    color: #f5f5f5;

        &__copyright {
            width: 100%;
            font-family: audiowide;
            color: #f5f5f5;
            font-size: 1rem;
        }
        
        &__links {
            text-decoration: none;
            color: #f4f5f8;

            a {
                color: #f4f5f8;
            }
            a:hover {
                transform: scale(1.2);
            }

        }

        &__mail {
            a {
                font-size: 25px;
                font-family: jaldi !important;
                text-decoration: none;
                color: #f4f5f8;
            }
             a:hover {
                transform: scale(1.2);
            }
        }

        &__logo {
            text-align: center;
                img {
                    width: 200px;
            }
        }

}



.footer-element {
    width: 450px;
}

     

.fm__footer-logo {
    justify-content: flex-end;
    align-self: flex-end;
    width: 450px;
    text-align: center;
    height: 100px;
}

