

/* header */

.fm__header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #f5f5f5;
    border-bottom: 5px solid #cc2059;
}

/* nav-bar*/

.navbar-nav {
    font-family: audiowide;
    font-size: 1.2em;
    color: #070707;
     :hover {
        transform: scale(1.1);
        transition: 0.3s;
        text-decoration: underline;
    }
}
