
//---- FUENTES ----// 

// h1

$h1-fonts: "Audiowide", "sans-serif";
$h1-color:#f5f5f5;
$h1-size:3rem;
$h1-align: center;

//  h2

$h2-fonts: "Audiowide", "sans-serif";

// normal text //

$txt-fonts: "jaldi";
$caption-size:1em;
$caption-color:#f5f5f5;

//---- BORDES ----//

// borders

$contact__bdr--color:#cc2059;
$contact__bdr--size:4px;
$contact__bdr__form--color:#2076f7;
$contact__bdr__form--size:3px;
