
/* main-index */

main {
    background-image: url(../assets/background-main4.jpg);
    background-size: cover;
}


.row {
    img {
        width: 50%;
    }
}
/* animaciones */

.animate {
    &__fadeInDown {
    animation-duration: 3s;
    }
    &__fadeInUp {
    animation-duration: 3s;
    }
    &__fadeIn{ 
        animation-duration: 3s;
    }
}
.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    /* fondo semitransparente */
    color: white;
}
